.topbeer {
  background-image: url("../images/fred-moon-0yqa0rMCsYk-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.top-title {
  font-family:Georgia, 'Times New Roman', Times, serif;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgba(226, 126, 12, 0.4);
}

.subtitle {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgba(226, 126, 12, 0.4);

}

.length {
  height: 80vh;
}

.desc {
  border-bottom: gray 2px dashed;
}

.button-section {
  margin-top: 3%;
}

::placeholder {
  text-align: center;
}
/* footer */

.footer {
  background-image: url('../images/fred-moon-0yqa0rMCsYk-unsplash.jpg');
  background-size: cover;
  background-position: bottom;
}

.bottombeer {
  display: flex;
  justify-content: space-around;
}

.lets-connect {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  background-color: rgba(226, 126, 12, 0.77);
  border-radius: .55em;
}

.contact {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  background-color: rgba(226, 126, 12, 0.77);
  border-radius: .55em;
}

.mobile {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  background-color: rgba(226, 126, 12, 0.77);
  border-radius: .55em;
}

#map {
  width: 200px;
  height: 200px;
}
