:root {
  --desktopSectionHeight: 80vh;
}

body {
  min-height: 100vh;
  width: 100vw;
  margin: 0;
  padding: 0;
}

/*header*/

.topbeer {
  background-image: url("../images/fred-moon-0yqa0rMCsYk-unsplash.jpg");
  background-size: cover;
  background-position: center;
}

.title-box {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgba(226, 126, 12, 0.77);
  text-decoration: underline;
  text-decoration-color: #ffe4c4;
}

.top-title{
  font-size: x-large;
  font-weight: bolder;
  text-decoration: underline;
  text-decoration-color: bisque;
}

/*main section*/
/*TODOS
style img for better responsiveness (currently section tag is causing weird spacing? Possibily rewite that?)*/

ul li {
  list-style-type: none;
  background: url("../images/heart-icon.png") no-repeat 7px 7px;
  padding-top: 10px;
  padding-left: 60px;
}

ul li:hover {
  background: url("../images/heart-filled-icon.png") no-repeat 7px 7px;
  cursor: pointer;
}

#map {
  width: 400px;
  height: 300px;
}

#zipsubmit {
  margin-bottom: 0;
}

#faves-list a {
  padding: 1% 2%;
}

.icon {
  width: 300px;
}

.brewery-name {
  margin-bottom: 0;
}

.errormsg {
  margin: 0;
  padding: 0;
  color: transparent;
}


.length {
  height: var(--desktopSectionHeight);
  border-left: gray 2px dashed;
}

.desc {
  border-bottom: gray 2px dashed;
}

.button-section {
  margin-top: 3%;
}

.interact {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: white;
  font-weight: bold;
  border-radius: 10px;
  background-color: rgba(226, 126, 12, 0.4);
}

.beerimg {
  display: block;
  height: auto;
  width: 100%;
}

::placeholder {
  text-align: center;
}

.overflow {
  overflow-y: auto;
  overflow-x: hidden;
}

.cuswidth {
  width: 80%;
}

/* .map-wrapper {
  
} */

/* footer */

.footerimage {
  background-image: url("../images/fred-moon-0yqa0rMCsYk-unsplash.jpg");
  background-size: cover;
  background-position: bottom;
  padding: 0 1.5rem 6rem;
}

.imgpad {
  padding-top: 4rem;
}

.bottombeer {
  display: flex;
  justify-content: space-around;
}

.lets-connect {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  background-color: rgba(226, 126, 12, 0.77);
  border-radius: 0.55em;
}

.lets-connect:hover {
  background-color: rgba(226, 126, 12);
  box-shadow: 0 0 10px white;
  cursor: pointer;
}

.contact {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  background-color: rgba(226, 126, 12, 0.77);
  border-radius: 0.55em;
}

.contact:hover {
  background-color: rgba(226, 126, 12);
  box-shadow: 0 0 10px white;
  cursor: pointer;
}

.mobile {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 1.2rem;
  color: white;
  font-weight: bold;
  background-color: rgba(226, 126, 12, 0.77);
  border-radius: 0.55em;
}

.mobile:hover {
  background-color: rgba(226, 126, 12);
  box-shadow: 0 0 10px white;
  cursor: pointer;
}

#faves-list a, p{
  display: block;
  font-size: 20px;
}

/*Media Queries here
MQ notes
Move instructions to be centered on smaller sizes? (might be a js issue since silly bulma texts)*/
@media (max-width: 576px) {
    .has-text-left, .has-text-right {
      text-align: center!important;
    }

    #faves-list {
      text-align: center;
    }
    .custom-scroll{
      overflow: visible;
    }
    .custom-scroll .parent-section {
      display: block;
      overflow-x: hidden;
      overflow-y: auto;
      max-height: 50vh;
    }
}

@media screen and (min-width: 577px) {
  .custom-scroll {
    display: block;
    overflow-x: hidden;
    overflow-y: auto;
    max-height: var(--desktopSectionHeight);
  }
}